:root {
    --grid-cols: 1;
    --grid-rows: 1;

    font-family: 'Inter', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    max-width: 960px;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

button {
    padding: 4px 8px;;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
}

button:hover {
    background-color: gray;
    color: white;
    transition: 0.3s;
    border-color: pink;
}